/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-image: url('..//images/header--background.png');
    background-position: center;
    background-size: cover;
    padding: 5px;
}

.header--main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header--left {
    
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #000;
    font-size: 38px;
    font-family: 'Gasoek One', sans-serif;
    max-width: 350px;
}
.header--left span {
    margin-top: -20px;
    color: #fff;
}
.header--left:hover {
    cursor:default;
}

.header--right {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.header--right button {
    width: 200px;
    padding: 15px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
}
.header--right button:hover{
    box-shadow: 1px 1px 22px #ffffffbe;
    cursor: pointer;
}

/* ÁREA DE NAVEGAÇÃO PÓS HEADER */

section.nav--header {
    width: 100%;
}

.nav--header-init ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav--header-init li {
    padding: 15px;
    list-style: none;
    font-size: 22px;
    border-bottom: 2px solid #fff;
    color: #515dff;
}

.nav--header-init li:hover {
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
}

/* ÁREA DO BANNER*/
section.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    width: 1000px;
    height: 300px;
    overflow: hidden;
}
.slider--width {
    height: inherit;
    width: inherit;
    display: flex;
    transition: all ease 0.3s;
}
.slider--item {
    width: 100vw;
    height: inherit;
    background-size:cover;
    background-position: center;
}
.slider--controls {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.slider--control {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider--control img {
    width: 50px;
    height: 50px;
}